# Created by .ignore support plugin (hsz.mobi)

### run folder
bin/
build/
run/
*.MF


### Idea

*.iml
*.eml
.idea/


### Windows
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### Eclipse
.settings/
.project
.classpath



